<div class="row">
    <div class="column column-20">
        <div class="panel-container">
            <button class="button button-prime button-outline" style="width: 100%;" (click)="addNews()">news</button>
            <button class="button button-prime button-outline" style="width: 100%;"
                (click)="addSpecial()">special</button>
            <button class="button button-prime button-outline" style="width: 100%;" (click)="addMedia()">media</button>
            <button class="button button-prime button-outline" style="width: 100%;"
                (click)="addTwoCol()">twoCol</button>
            <button class="button button-prime button-outline" style="width: 100%;"
                (click)="addFullBg()">fullBg</button>
            <button class="button button-prime button-outline" style="width: 100%;"
                (click)="addDefault()">default</button>
        </div>
    </div>
    <div class="column column-80">
        <ng-container *ngFor="let banner of bannerList">
            <div class="banner">
                <div class="banner-header" *ngIf="banner.header"></div>
                <div class="row" *ngIf="banner.textBlock">
                    <div class="column" *ngFor="let item of banner.textBlock">
                        <div class="banner-news"></div>
                    </div>
                </div>
                <div class="row" *ngFor="let item of banner.specBlock">
                    <div class="column" >
                        <div class="banner-news"></div>
                    </div>
                </div>
                <div class="banner-footer" *ngIf="banner.buttons">
                    <div class="row">
                        <div class="column" *ngFor="let btn of banner.buttons">
                            <button class="button button-prime" style="width: 100%;"></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>