<div class="banner">
    <div class="banner-header"></div>

    <div class="row">
        <div class="column">
            <div class="banner-content"></div>
        </div>
    </div>
    <div class="banner-footer">
        <div class="row">
            <div class="column">
                <button class="button" style="width: 100%;"></button>
            </div>
            <div class="column">
                <button class="button button-outline" style="width: 100%;"></button>
            </div>
        </div>
    </div>
</div>