<div class="nav">
  <h1>Dynamic Examples Components</h1>
</div>
<div class="row">
  <div class="column">
    <a class="button" style="width: 100%;" routerLink="/if" routerLinkActive="button-outline">ngIf</a>
  </div>
  <div class="column">
    <a class="button" style="width: 100%;" routerLink="/switch" routerLinkActive="button-outline">ngSwitch</a>
  </div>
  <div class="column">
    <a class="button" style="width: 100%;" routerLink="/template" routerLinkActive="button-outline">template</a>
  </div>
  <div class="column">
    <a class="button" style="width: 100%;" routerLink="/resolver" routerLinkActive="button-outline">resolver</a>
  </div>
  <div class="column">
    <a class="button" style="width: 100%;" routerLink="/outlet" routerLinkActive="button-outline">outlet</a>
  </div>
  <div class="column">
    <a class="button" style="width: 100%;" routerLink="/creator" routerLinkActive="button-outline">creator</a>
  </div>
</div>
<div class="row">
  <div class="column">
    <router-outlet></router-outlet>
  </div>
</div>