<div class="nav">
  <h1>Dynamic Examples Components</h1>
</div>
<div class="row">
  <div class="column">
    <a class="button button-prime button-outline" style="width: 100%;" routerLink="/if" routerLinkActive="active">ngIf</a>
  </div>
  <div class="column">
    <a class="button button-prime button-outline" style="width: 100%;" routerLink="/switch" routerLinkActive="active">ngSwitch</a>
  </div>
  <div class="column">
    <a class="button button-prime button-outline" style="width: 100%;" routerLink="/template" routerLinkActive="active">template</a>
  </div>
  <div class="column">
    <a class="button button-prime button-outline" style="width: 100%;" routerLink="/resolver" routerLinkActive="active">resolver</a>
  </div>
  <div class="column">
    <a class="button button-prime button-outline" style="width: 100%;" routerLink="/outlet" routerLinkActive="active">outlet</a>
  </div>
  <div class="column">
    <a class="button button-prime button-outline" style="width: 100%;" routerLink="/render" routerLinkActive="active">creator</a>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="divider"></div>
    <router-outlet></router-outlet>
  </div>
</div>