/* Custom color */
.button-prime {
    background-color: #4444ff;
    border-color:  #4444ff;
  }
  .button-prime.button-clear,
  .button-prime.button-outline {
    background-color: transparent;
    color:  #4444ff;
  }
  .button-prime.active{
    background-color: #4444ff !important;
    color: white !important;
    border-color:  #4444ff !important;
  }
  .button-prime.button-clear {
    border-color: transparent;
  }